.coffee
{
  
     /* background-position: 400px 600px; */
   background-position: 0 center; 
  background-size:contain;
  background-repeat: no-repeat; 
  ;
  

}




/* 
<div className="overflow-hidden w-1/2 mb-12 ">
<div
  className="coffee   " */

